.home {

}

/* Reviews Preview */

.home-reviews {
    background-color: green;

    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(20, 25, 20, 0.5)),
        url('https://i.imgur.com/KLJJmOL.png');

    color: black;
    padding: 2rem 0;
}

.home-reviews h2 {
    color: white;
}

.home-reviews--title,
.home-reviews--stars {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 5px;
}

.home-reviews--stars {
    /* font-size: 1rem;
     */
}

.home-reviews__divider--short,
.home-reviews__divider--long {
    display: block;
    height: 2px;
    background-color: white;
    content: '';
    margin: .25rem auto;
}

.home-reviews__divider--long {
    width: 15rem;
}

/* .home-reviews__divider--short {
    width: 7rem;
} */

.home-reviews__divider--long:last-of-type {
    margin-bottom: 1rem;
}

.home-reviews__button-box {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Button styles in ./buttons.css */

.home-reviews__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;

}

.home-reviews__card {   
    height: 18rem;
    width: 20rem;
    min-width: 20rem;
    padding: 1rem;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1.5rem 2rem black;
    transition: all .5s;
    cursor: default;
}

.home-reviews__card:hover {
    transform: translateY(-8px);
}

.home-reviews__card--name {

}

.home-reviews__card--message {
    font-size: 1rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}