/* Header */
.header {
    color: white;
    display: flex;
}

.header__locations {
    background-color: green;
}

.header__locations:first-of-type {
    margin-right: 1rem;
}

.header__locations--city {
    text-weight: bold;
}

.header__locations--details {
    display: flex;
    gap: 1rem;
}

.header__locations--city {
    text-align: center;
}

.header__locations--phone,
.header__locations--address {

}

.header__locations--phone {

}

.header__locations--address {

}

.header__locations--address span {
    display: block;
}

/* Toolbar */
.toolbar {
    background-color: black;
    position: sticky;
    z-index: 1000;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 1rem 6rem;
    font-family: var(--font-serif);
}

.toolbar,
.toolbar__mainlinks {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.toolbar__mainlinks {

}

.toolbar__mainlinks--button {
    color: red;
    text-decoration: none;
}

/* Dropdown Menu Items*/

ul{
    list-style: none;
}
  
a {
    text-decoration: none;
}

.menu-container {
    position: relative;
}

.menu-trigger {
    cursor: pointer;
}

.dropdown-menu{
    position: absolute;
    top: 2rem;
    left: 0;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

/* Footer */