/* Overivew */
.location-overview {
    height: 70svh;
    border: 2px solid white;
    color: white;
}

.location-overview__livingston {
    color: white;
    background-image: url('https://i.imgur.com/loCXOMS.png');
}

.location-overview__new-caney {
    background-image: url('https://i.imgur.com/KweTaJ4.png');
}

.location-overview__header {
    background-color: rgba(0,0,0,.5);
    width: 45%;
    margin-top: 5rem;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 5px;
    height: 65%;
}

.location-overview__header h1 {
    margin-bottom: 1rem;
    position: relative;
}

.location-overview__header span {
    display: block;
}

.location-overview__header--primary {
    font-size: 3.5rem;
}

.location-overview__header--secondary {
    font-size: 1rem;
}

.location-overview__header--secondary img {
    margin-top: .5rem;
    height: 40px;
    position: absolute;
    top: 5rem;
    left: 15rem;
}

.location-overview__header--secondary-livingston img {
    height: 60px;
}

.location-overview__hours {
    margin-bottom: 1.5rem;
}

.location-overview__header--button,
.location-overview__header--button:visited,
.location-overview__header-button:active {
    background-color: white; 
    color: black;
    padding: .3rem .75rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.location-overview__header--button:first-of-type {
    margin-right: 1rem;
}

/* Office */

/* Shop */

.shop {
    background-color: white;
    height: 80svh;
    color: black;
    border: 2px solid white;
    position: relative;
    font-family: 'Helvetica';
}

#target-logo {
    position: absolute;
    z-index: 5;
    height: 80svh;
    left: -22rem;
    
}

.shop h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 10;
    position: relative;
}

#target {
    color: var(--color-target);
    position: relative;
}

#registered {
    font-size: 1rem;
    position: absolute;
    top: 5px;
    right: -12px;
}

.shop__flexbox {
    display: flex;
    padding-top: 5rem;
}

.shop__photos {
    height: 10rem;
    border: 2px solid white;
    width: 50%;
    margin-left: 3rem;
}

.shop__composition {
    position: relative;
}

.shop__photo {
    width: 55%;
    box-shadow: 0 1.5rem 1.5rem black;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;
}

.shop__photo--1 {
    left: 0;
    top: -2rem;
}

.shop__photo--2 {
    right: 0;
    top: 2rem;
}

.shop__photo--3 {
    left: 20%;
    top: 10rem;
}

.shop__photo:hover {
    outline: 1rem solid var(--color-target);
    border-radius: 1rem;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem black;
    z-index: 20;
}

.shop__details {
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

.shop__details h3 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.shop__insurance-icons {

}

.shop__insurance-icons img {
    max-height: 20px;
    margin: .2rem;
}

.shop__brand-icons {
    text-align: center;
}

.shop__brand-icons img {
    height: 50px; 
    margin: .2rem;   
}

#ray-ban {
    height: 60px;
}

#oakley {
    height: 40px;
}

#emporio {
    height: 60px;
}

.shop__button {
    background-color: var(--color-target);
    padding: .5rem 1rem;
    color: white;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.3rem;
}